{% extends 'base.html' %}

{% block titulo %}Pessoas{% endblock titulo %}

{% block conteudo %}

<style type="text/css">
  @media print
  {
    
    .btn,#voltar
    {
      display: none;
    }

    
    
    #lblcabe,
    {
      display: inline;
    }
  }
</style>


<div class="table-responsive" >
  </br><label align="center"  bold> Relatório do Fluxo de Caixa</label></br>
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Pessoa</th>
            <th>R$</th>
            <th>Descrição</th>
            <th>Data</th>
            <th>Tipo</th>
          </tr>
        </thead>
        <tbody>
        {% for conta in contas %}
          <tr>
            <td>{{ conta.pessoa.nome }}</td>
            <td>{{ conta.valor }}</td>
            <td>{{ conta.descricao }}</td>
            <td>{{ conta.data|date:"d/m/Y" }}</td>
            <td>{{ conta.tipo }}</td>
          </tr>
        {% endfor %}  
        </tbody>        
      </table>
      <label>Saldo Total: R${{ somaconta }}</label>
      <button type="button" onclick="window.print()" class="btn btn-success">Imprimir</button>
      <a id="voltar" href="../fluxoCaixa/"><button type="button" class="btn btn-success" >Voltar</button></a>
</div><!-- FIM TABELA -->

{% endblock conteudo %}
